@import './../../styles/colors.scss';

.pagination-page {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border: 1px solid $black;
  border-right: none;
  color: $black;
  background: inherit;

  &:first-of-type {
    border-radius: 8px 0 0 8px;
    cursor: pointer;
  }

  &:last-child {
    border-radius: 0 8px 8px 0;
    border-right: 1px solid;
    cursor: pointer;
  }

  &:only-child {
    border-radius: 8px;
  }

  &:hover {
    background: $bg-hover-white;
    color: $black;
    border-color: $black;
  }

  &:disabled {
    border-color: $light-grey;
    color: $light-grey;

    &:hover {
      cursor: auto;
      background: inherit;
    }
  }
  &--dark {
    border: 1px solid $white;
    color: $white;

    &:hover {
      background: $bg-hover-black;
      color: $white;
      border-color: $white;
    }
    &:disabled {
      border-color: $grey-disabled;
      color: $grey-disabled;
    }
  }
  &.pagination-page-with-active {
    background: $black;
    color: $white;
    border-color: $black;

    &:hover {
      cursor: auto;
      background: $black;
      color: $white;
      border-color: $black;
    }

    &--dark {
      background: $white;
      color: $black;
      border-color: $white;
      &:hover {
        background: $white;
        color: $black;
        border-color: $white;
      }
    }
  }
}
