.gallery {
  margin: 45px auto 40px;
  width: 100%;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 0;
  flex-wrap: wrap;
  max-width: 1120px;
}

.gallery__item {
  box-sizing: border-box;
  width: 100%;
  max-height: 275px;
}
