@import './../../../styles/colors.scss';
@import './../../../mixins/mixins.scss';

.gallery {
  margin: 45px auto 40px;
  width: 100%;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  padding: 0;
  flex-wrap: wrap;
  max-width: 1120px;

  @media screen and (max-width: 647px) {
    justify-content: center;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__nothing {
    color: $black;
    @include text-bold;

    @media screen and (max-width: 450px) {
      width: 250px;
      text-align: center;
    }

    &--dark {
      color: $white;
    }
  }
}
