.filter {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1120px;
}

@media screen and (max-width: 767px) {
  .filter {
    flex-direction: column;
  }
}
