.Arrow {
  &__arrow {
    position: absolute;
    display: flex;
    right: 20px;
    float: right;
    fill: #b3b3b3;
    background-image: url('./../../assets/Down-black.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
  }

  &__opened {
    transform: rotate(180deg);
  }

  &__dark {
    background-image: url('./../../assets/Down.svg');
  }
}
