@function getColorGrey($color, $shadow) {
  @return rgba($color, $shadow);
}

$black: #000000;
$white: #FFFFFF;
$grey: #959799;
$light-grey: #b3b3b3;

$bg-white: #FFFFFF;
$bg-black: #0C0C0C;
$bg-grey: #EFEFEF;

$bg-hover-white: #EDEDED;
$bg-hover-black: #464646;

$grey-disabled: #4c4c4c;

$border-white: #FFFFFF;
$border-black: getColorGrey(#000000, 30%);

$shadow-grey: getColorGrey(#FFFFFF, 55%);