@function getColorGrey($color, $shadow) {
  @return rgba($color, $shadow);
}

$black: #000000;
$white: #ffffff;
$grey: #959799;
$light-grey: #b3b3b3;

$bg-white: #ffffff;
$bg-black: #0c0c0c;
$bg-grey: #efefef;

$bg-hover-white: #ededed;
$bg-hover-black: #464646;

$grey-disabled: #4c4c4c;

$border-white: #ffffff;
$border-black: getColorGrey(#000000, 30%);

$shadow-grey: getColorGrey(#ffffff, 55%);
