.app {
  max-width: 1366px;
  margin: 0 auto;
  padding: 35px calc((100vw - 1120px) / 2) 0;
}

@media screen and (max-width: 1024px) {
  .app {
    padding: 35px calc((100vw - 940px) / 2) 0;
  }
}

@media screen and (max-width: 768px) {
  .app {
    padding: 35px calc((100vw - 700px) / 2) 0;
  }
}