.input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 265px;
  width: calc((100vw - 246px - 60px) / 4);
  border-radius: 8px;
  /* margin: 12px 0; */
  padding: 16px 0 14px 15px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  margin: 0 0 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  background-color: #0C0C0C;
}

/* .input:hover {
  border: 1px solid #babdbf;
}

.input:focus {
  outline: #1785e5;
  border: 1px solid #1785e5;
}

.input__invalid {
  border: 1px solid #d92121;
}

.input__valid {
  border: 1px solid #babdbf;
} */
