@function getColorGrey($color, $shadow) {
  @return rgba($color, $shadow);
}

$black: #000000;
$white: #FFFFFF;
$grey: #959799;


$bg-white: #f1f6ff;
$bg-black: #0C0C0C;

$border-white: #FFFFFF;

$shadow-grey: getColorGrey(#FFFFFF, 55%);