@function getColorGrey($color, $shadow) {
  @return rgba($color, $shadow);
}

$black: #000000;
$white: #FFFFFF;
$grey: #959799;


$bg-white: #FFFFFF;
$bg-black: #0C0C0C;
$bg-grey: #EFEFEF;

$border-white: #FFFFFF;
$border-black: getColorGrey(#000000, 30%);

$shadow-grey: getColorGrey(#FFFFFF, 55%);