.header {
  margin: 0 auto;
  padding: 0 0 35px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1120px;

  @media screen and (max-width: 1024px) {
    width: calc(100vw - 84px);
  }

  @media screen and (max-width: 768px) {
    width: calc(100vw - 68px);
  }

  @media screen and (max-width: 320px) {
    width: calc(100vw - 40px);
  }

  &__button {
    background-image: url('src/assets/icons/Change-theme-black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__button--dark {
    background-image: url('src/assets/icons/Change-theme.svg');
  }
}
