.header {
  margin: 0 auto;
  padding: 0 0 35px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1120px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100vw - 84px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100vw - 68px);
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100vw - 40px);
  }
}

.header__button {
  cursor: pointer;
}