@import 'src/styles/colors.scss';
@import 'src/mixins/mixins.scss';

.input {
  @include text-normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 265px;
  width: 100%;
  border-radius: 8px;
  padding: 16px 0 14px 15px;
  box-sizing: border-box;
  border: 1px solid $border-black;
  color: $black;
  margin: 0;
  background-color: $bg-white;

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }

  &--dark {
    background-color: $bg-black;
    border: 1px solid $border-white;
    color: $white;
  }
}
