.select {
  height: 45px;
  /* width: 100%; */
  width: calc((100vw - 246px - 60px) / 4);
  max-width: 265px;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 0 0;
  padding: 15px 0 15px 15px;
  border: 1px solid #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  color: #959799;
  cursor: pointer;
  appearance: none;
  background-color: #0C0C0C;
  background-image: url('./../../../assets/Down.svg');
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.select__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  max-width: 265px;
}