@mixin text-normal {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
}

@mixin text-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

@mixin text-light {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}
