@import 'src/styles/colors.scss';
@import 'src/mixins/mixins.scss';

.select {
  @include text-normal;
  height: 45px;
  width: 100%;
  max-width: 265px;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 0 0;
  padding: 15px 0 15px 15px;
  border: 1px solid $border-black;
  color: $black;
  cursor: pointer;
  appearance: none;
  background-color: $bg-white;
  background-image: url('src/assets/Down-black.svg');
  background-repeat: no-repeat;
  background-position: right 18px top 19px;
  position: relative;

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }

  &--dark {
    background-color: $bg-black;
    border: 1px solid $border-white;
    color: $white;
    background-image: url('src/assets/Down.svg');
  }

  &--open {
    height: 130px;

    @media screen and (max-width: 1120px) {
      height: 206px;
    }

    @media screen and (max-width: 767px) {
      height: 131px;
    }
  }

  &__container {
    width: inherit;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 44px;
    left: 0;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $border-black;
    padding: 20px 22px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    background: $border-white;

    @media screen and (max-width: 1120px) {
      flex-direction: column;
      gap: 15px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: row;
      justify-content: center;
    }

    &--dark {
      border: 1px solid $border-white;
      background-color: $bg-black;
    }

    &--open {
      border-top: none;
      border-right: none;
      border-left: none;
    }
  }

  &__input {
    @include text-normal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 95px;
    border-radius: 8px;
    padding: 16px 0 14px 15px;
    box-sizing: border-box;
    border: 1px solid $border-white;
    color: $bg-black;
    margin: 0 0 0;
    background-color: $bg-grey;

    &--dark {
      background-color: $bg-white;
      border: 1px solid $border-white;
      color: $bg-black;
    }

    @media screen and (max-width: 1120px) {
      width: 110px;
    }

    @media screen and (max-width: 767px) {
      width: 200px;
    }

    @media screen and (max-width: 500px) {
      width: 110px;
    }
  }
}
