@import './../../styles/colors.scss';

.picture {
  width: 100%;
  border-radius: 20px;

  &__figure {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    width: 360px;
    color: $black;
    background-color: $bg-white;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;

    @media screen and (max-width: 1204px) {
      width: 300px;
    }

    @media screen and (max-width: 1023px) {
      width: 360px;
    }

    @media screen and (max-width: 823px) {
      width: 340px;
    }

    @media screen and (max-width: 767px) {
      width: 280px;
    }

    @media screen and (max-width: 647px) {
      width: 240px;
    }

    @media screen and (max-width: 567px) {
      width: 360px;
      margin: 0 auto;
    }

    @media screen and (max-width: 440px) {
      width: 280px;
    }
  }

  &__container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: $shadow-grey;
    width: 100%;
    height: 30px;
    border-radius: 0 0 20px 20px;
  }

  &__figcaption {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 0 0 15px;
    color: $black;
  }

  &__figcaption_type_top {
    top: 135px;
  }

  &__container_type_height {
    height: 135px;
  }

  &__subtitle {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 0 15px;
  }

  &__span {
    font-weight: 700;
  }
}

.open {
  display: flex;
}
