@import './../../../styles/colors.scss';
@import './../../../mixins/mixins.scss';

.picture {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;

  &__figure {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 275px;
    width: 360px;
    color: $black;
    background-color: $bg-white;
    border-radius: 20px;
    display: flex;
    align-content: flex-start;

    @media screen and (max-width: 1204px) {
      width: 300px;
      height: 230px;
    }

    @media screen and (max-width: 1023px) {
      width: 360px;
    }

    @media screen and (max-width: 823px) {
      width: 340px;
      height: 249px;
    }

    @media screen and (max-width: 767px) {
      width: 280px;
    }

    @media screen and (max-width: 647px) {
      width: 360px;
    }

    @media screen and (max-width: 440px) {
      width: 280px;
      height: 205px;
    }
  }

  &__container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: $shadow-grey;
    width: 100%;
    height: 30px;
    border-radius: 0 0 20px 20px;
    transition: height 1s ease;
    overflow: hidden;
  }

  &__figcaption {
    @include text-bold;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 15px 0 15px;
    color: $black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__container_type_height {
    height: 135px;
  }

  &__subtitle {
    @include text-light;
    margin: 0 0 0 15px;
  }

  &__span {
    font-weight: 700;
  }
}

.open {
  display: flex;
}
